#main {
  // background-color: rgba(0, 0, 0, 0.94);
  // transition: height 1s;
}
#outer-main {
  // height: 80vh;
  height: auto;
  min-height: 700px;
  // background-color: #056812;
  margin: auto;
}
#canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#inner-main {
  width: 75%;
  min-width: 600px;
  // height: 237px;
  height: auto;
  // background-color: rgba(127, 38, 228, 0.589);
  margin: auto;
  button {
    color: white;
    font-size: 12px;
    font-weight: 700;
    // text-shadow: 0 0 6px #fff, 0 0 15px #fff;
  }
}
#canvas {
  height: 600px;
  width: 1600px;
  background-color: white;
  // border: 2px solid black;
}

#node-container {
  // transition: all 1s;
}
// ul containtining the current oscillator nodes
#toneList {
  padding-top: 5px;

  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 0px 0px;
    button {
      margin-top: 4px;
      font-size: 12px;
      font-weight: 700;
      width: 20%;
      color: rgb(255, 255, 255);
      background-color: #15b21a;
      border-style: none;
      height: 40px;
      box-shadow: 0 0 2px #15b21a, 0 0 2px#15b21a, 0 0 5px #15b21a,
        -2px 1px 0px rgba(206, 89, 55, 0%);
      transition: text-shadow 0.3s;
    }

    button:hover {
      cursor: pointer;
      // background-color: rgba(42, 194, 0, 0.719);
      text-shadow: 0 0 6px #fff, 0 0 15px #fff;
    }

    // input{
    //   width: 80%;
    // }

    .volume {
      width: 30%;
      margin-left: 15px;
    }

    .pitch-bar {
      width: 70%;
      margin-left: 15px;
    }
    input {
      -webkit-appearance: none;

      height: 2px;
      background: #ffffff;
      outline: none;
      opacity: 0.7;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
      box-shadow: 0 0 1px #fff, 0 0 2px #49ff18, 0 0 9px #49ff18,
        0 0 0px #49ff18, 0 0 10px #49ff18, 0 0 5px #49ff18,
        7px 1px 29px rgba(206, 89, 55, 0%);
      // padding: 2px;
      transition: box-shadow 0.3s;
    }

    input::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: hsl(184, 100%, 50%);
      // box-shadow: 0 0 7px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 2px #49ff18,
      //   0 0 9px #49ff18, 0 0 0px #49ff18, 0 0 10px #49ff18, 0 0 5px #49ff18,
      //   7px 1px 29px rgba(206, 89, 55, 0%);
      box-shadow: 0 0 10px #fff, 0 0 8px #fff, 0 0 8px #fff, 0 0 4px #49ff18,
        0 0 11px #49ff18, 0 0 0px #49ff18, 0 0 12px #49ff18, 0 0 7px #49ff18,
        7px 1px 29px rgba(206, 89, 55, 0%);
      cursor: pointer;
    }

    input::-moz-range-thumb {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: hsl(183, 99%, 62%);
      box-shadow: 0 0 7px #fff, 0 0 3px #fff, 0 0 1px #fff, 0 0 2px #49ff18,
        0 0 9px #49ff18, 0 0 0px #49ff18, 0 0 10px #49ff18, 0 0 5px #49ff18,
        7px 1px 29px rgba(206, 89, 55, 0%);
      cursor: pointer;
    }

    input:focus {
      height: 3px;
    }
  }
}

.new-node {
  width: 20%;
  background-color: hsl(291, 78%, 46%);
  border-style: none;
  height: 40px;
  padding: 5px 0px 0px 0px;
  margin-top: 10px;
  box-shadow: 0 0 2px #b51ad1, 0 0 0px #b51ad1, 0 0 2px #b51ad1, 0 0 5px #b51ad1,
    -2px 1px 0px rgba(206, 89, 55, 0%);
  transition: text-shadow 0.3s;
}

.new-node:hover {
  // background-color: hsla(291, 78%, 46%, 0.445);
  text-shadow: 0 0 6px #fff, 0 0 15px #fff;
}
