#main {
}
#outer-main {
  height: 80vh;
  min-height: 700px;
  background-color: #056812;
}
#inner-main {
  width: 75%;
  min-width: 600px;
  height: 100%;
  background-color: rgba(127, 38, 228, 0.589);
  margin: auto;
}
#canvas {
  height: 70%;
  width: 100%;
}

#node-container {
}
// ul containtining the current oscillator nodes
#toneList {
  padding-top: 5px;

  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px 0px 0px;
    button{
      width: 10%;
      background-color: coral;
      border-style: none;
    }

    // input{
    //   width: 80%;
    // }
    input {
      -webkit-appearance: none;
      width:80%;
      height: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
        // padding: 2px;
    }

    input::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      background: #1fb0d4;
      cursor: pointer;
    }
    
    input::-moz-range-thumb {
      width: 20px;
      height: 20px;
      background:#1fb0d4;
      cursor: pointer;
   }
}


}
