#main {
}
#outer-main {
  height: 80vh;
  min-height: 700px;
  background-color: #056812;
}
#inner-main {
  width: 75%;
  min-width: 600px;
  height: 100%;
  background-color: rgba(127, 38, 228, 0.589);
  margin: auto;
}
#canvas {
  height: 70%;
  width: 100%;
}

#node-container {
}
#node-list {
}
